@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins&display=swap');
 
body{
    margin: 0;
    font-family: 'poppins',sans-serif;
    background: color #fff8f0;
    color: #5c3a2e;
 }
 li {
    list-style-type: none;
    overflow: hidden;
 }

 h1,h2,h3.h4,h5 {
    font-family: 'playfair display',serif;
    font-size: 30px;
 }
 p1,p2,p3,p4,p5,p6{
    font-family: 'poppins',sans-serif;
    font-size: 16px;
    line-height: 1.6;
 }
 header{
    background-color: #f7c5cc;
    padding: 20px;
 }
 category{
   margin-bottom:50px;
   padding:20px;
   text-align: center;
 }
 
cakecontainer {
   display: flex;
   justify-content: center;
   gap: 20px;
   padding: 40px;
}
cakecard {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   width: 280px;
   box-shadow: 0 4px 8px;
   
}

cakecard img{
   width: 100%;
   border-radius: 10px;
}
 
cakecard h2{
   color: #5c3a2e;
}
cakecard:hover{
   transform: scale(1.03);
}
flexbox{
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
}



@media screen and (max-width:768px) {
    nav{
      flex-direction: column;
    }
    cake-container{
      flex-direction: column;
      align-items: center;
    }
    img{
      max-width:100%;
      height: auto;
    }
    togglemenu{
      display: block;
    }
}
togglemenu{
   display: none;
   font-size: 24px;
   cursor: pointer;
   border: none;
   background: none;
}

drawer li {
   margin:10px 0;
   display: none
}
drawer a {
   text-decoration: none;
}
 drawer.show {
display: block;
 }


 category img{
margin: 10px;
border-radius: 10px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav a{
    display: float;
text-decoration: none;
color: #5c3a2e;
margin-left: 20px;
font-weight: 500;
 }
 nav a :hover {
color: #d4a373;
 }
hero{
    text-align: center;
    padding: 100px 20px;
    background-image: url('logo.jpg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
hero{
    font-family:'playfair display',serif;
    font-size: 16px;
}

footer{
background: #f7c5cc;
color: gold;
text-align: center;
padding: 10px;
}

btn{
    background-color: #d4a373;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
}
